body {
    width: 100%;

    margin: 0;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    /* background-image: url("https://media.istockphoto.com/id/1340887706/photo/outside-of-logistics-retail-warehouse-with-inventory-manager-using-tablet-computer-talking-to.webp?b=1&s=170667a&w=0&k=20&c=7-pEH7pO0e6qEmY6QLpa9RPkG1FU1jFGhuURE_F31us=");
  background-repeat: no-repeat; */
    background-size: cover;
    background-color: #007bff;
}

header {
    display: flex;
    position: sticky;
    top: 0px;
    right: 0;
    left: 0;
    background-color: black;
}

.logo {
    display: flex;
    width: 20%;
}

.log {
    margin-top: 5px;
    margin-left: 40px;
    width: 100px;
    overflow: hidden;
    align-items: center;
}

#logo img {
    width: 100%;
}
.rl {
    width: 233px;
    height: 70px;
    float: right;
    padding-right: 30px;
    overflow: hidden;
    align-content: center;
    position: fixed;
    right: 0;
    margin-top: 10px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.fcc-btn {
    text-align: center;
    color: #fff;
    width: 150px;
    margin: 10px;
    padding: 10px 10px;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
}
.fcc-btn:hover {
    /* background-color: rgb(255, 255, 255); */
}

.navbar {
    width: 40%;
    margin: 15px;
    align-items: center;
    z-index: 1;
    text-decoration: none;
}

.navbar a {
    /* width:70px; */
    margin-left: 3px;
    float: left;
    color: #ffffff;
    border-radius: 10%;
    padding: 8px;
    text-align: center;
    text-decoration: none;

    /* background-color: #060505; */
    /* border-radius: 10px; */
}

.navbar a:hover {
    color: hwb(0 9% 0%);
}

.header {
    display: flex;
    justify-content: space-between;
}
.heading {
    font-size: 3rem;
    align-items: end;
    width: 100%;
    height: auto;
    color: red;
    box-sizing: border-box;
    border: 2px solid black;
    background-image: url("https://images.pexels.com/photos/5025669/pexels-photo-5025669.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: cover;
}
.heading h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 80px;
    letter-spacing: 0.976px;
    padding-top: 20px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.heading h1 span {
    color: rgb(255, 7, 205);
    overflow: hidden;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.track-parcel {
    text-align: center;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 20%;
    height: 70%;
    background-color: #060505;
}

.track-parcel h2 {
    color: #ffffff;
}

.track-parcel label {
    display: block;
    margin-bottom: 10px;
    color: #666;
}

.track-parcel input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.track-parcel button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.track-parcel button:hover {
    background-color: #0056b3;
}

#tracking-result {
    margin-top: 20px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    height: 15%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.container1 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.serv {
    width: 100%;
    height: 30%;
    align-items: center;
}
.serv h1 {
    font-size: 6rem;
    text-align: center;
    padding-top: 10px;
}

.box {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKllL9Jg0hMSS-O8UrxbOv29z_B46BKEPNNA&usqp=CAU");
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 40%;
    height: 300px;
    text-align: center;
}

.box h2 {
    color: #ffffff;
    padding: 10px;

    background-color: #0e0e0f;
    border: #0e0e0f;
    border-radius: 10px;
}

.box p {
    color: #666;
}

.section-padding {
    padding: 50px 0px;
}
.content-top-space {
    margin-top: 40px;
}
body,
html {
    letter-spacing: 0.2px;
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
}

.col-lg-6 {
    height: 80%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 15px;
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.16);
    border-radius: 18px;
    /* background-image: url(https://th.bing.com/th?id=OIP.9Kmo_D28Cj9TWmIiKEf51wHaHm&w=246&h=253&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2); */
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
}

.col-lg-6 img {
    border-radius: 15px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.col-lg-6 a {
    background-color: black;
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid var(--blue);
    padding: 5px 15px;
    border-radius: 5px;
}
.col-lg-6 a i {
    padding-left: 10px;
}
.col-lg-6 a:hover {
    background: var(--blue);
    color: var(--white);
    text-decoration: none;
}

.col-lg-6 a:hover i {
    transform: translateX(5px);
    transition: all 0.4s;
}
/* .col-lg-6 img{
  max-width: 30%;
  max-height: 110px;
  margin: 0 auto;
  border-radius: 4px;
} */
.col-lg-6 h3 {
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
    color: var(--blue);
    padding: 15px 0px;
    text-transform: capitalize;
}
.col-lg-6 img {
    /* unused but necessary for inner images */
    max-width: auto;
    max-height: 10vh;
    background-size: cover;
}

.wrapper {
    /* layout */
    height: 150vh;
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.slide {
    /* layout */
    min-height: 55vh;
    min-width: 72.2vh;
    display: block;
    box-sizing: border-box;
    border: 5px solid black;
    /* content styling OPTIONAL*/
    align-items: center;
    justify-content: center;
    padding: 10vh;
    /* background styling */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.inner {
    color: white;
    font-size: 1.3em;
}

/* Background images on each slide */

.a {
    background-color: red;
    background-image: url(https://img.freepik.com/free-photo/portrait-delivery-man-handing-out-parcel_23-2149561208.jpg?size=626&ext=jpg&ga=GA1.2.1420889511.1690362968&semt=ais://media3.giphy.com/media/1AgjJa5aX1vmIvx8Zr/giphy.gif);
}

.b {
    background-image: url(http://i67.tinypic.com/2lborxv.jpg);
}

.c {
    background-color: grey;
    background-image: url(https://i.giphy.com/media/zI0NsvaMfkT0xXyAvA/giphy.webp);
}

.col-md-12 {
    width: 100%;
    align-items: center;
    text-align: center;
}
.row1 {
    background-color: black;
    width: 100%;
    color: #fff;
    display: flex;
}
.row {
    width: 100%;
    justify-content: space-between;
    margin: 10px;
    display: flex;
    margin-left: 20px;
}
.join-us {
    width: 100%;
    height: 10%;
}
.join-us h1 {
    text-align: center;
    background-color: black;
    color: white;
    box-sizing: border-box;
    border-radius: 20px;
}

.container3 {
    background-color: #f5efef;
    display: grid;
    max-width: 92%;
    width: 1400px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.raw_cover {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.Coverage-aria {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

/* .coverage-area ul li{
  display:grid;
  list-style: none;
  padding: 8px;
  font-size: large;
  justify-content: space-between;
  width: 30%;
  margin: 10px 0;
  margin:10px 0;
  font-size: 14px;

} */

.slide-nav-map {
    width: 400px;
    background-color: #000;
}

.slide-nav-map ul {
    display: flex;

    margin: 0;
    /* display: inline-block; */
    padding: 15px;
    border-radius: 3px;
    background: white;
    border: 1px solid;
    cursor: pointer;
}

.slide-nav-map ul li {
    margin: 20px;
    color: #000;
}

.coverage h1 {
    width: 100%;
    height: 70%;
    font: weight 500rem;
    letter-spacing: 15px;
    color: #d30909;
    /* background-color: #fffbfb; */
    margin-top: 40px;
}
/* sender css */

.container4 h1 {
    margin-bottom: 1rem;
}

.container4 p {
    color: var(--color-gray);
}

hr {
    height: 1px;
    width: 100%;
    background-color: var(--color-light-gray);
    border: 0;
    margin: 2rem 0;
}

.container4 {
    max-width: 40rem;
    padding: 1vw 2rem 0;
    margin: 0 auto;
    height: 100vh;
    margin-bottom: 50px;
}

.container4 .form {
    display: grid;
    grid-gap: 1rem;
}

.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.field__label {
    color: var(--color-gray);
    font-size: 0.6rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
}

.field__input {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
}
.field:focus-within {
    border-color: #000;
}

.fields {
    display: grid;
    grid-gap: 1rem;
}
.fields--2 {
    grid-template-columns: 1fr 1fr;
}
.fields--3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.button {
    background-color: #000;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    display: block;
    color: #fff;
    width: 100%;
    padding: 1rem;
    border-radius: 0.25rem;
    border: 0;
    cursor: pointer;
    outline: 0;
}
.button:focus-visible {
    background-color: #333;
    padding-bottom: 10vh;
}

/* ======================================================================================================= */
.container_map {
    /* width: 1000px; */
    /* margin: 0 auto; */
    padding-right: 30px;
    padding-left: 15px;
    background-color: #fdf7f7;
}
.be-animated {
    /* animation-name:rotate;
    animation-duration: 2s;
    animation-timing-function: ease; Adjust the timing function as needed */
    /* Add other animation properties as needed */
  }
  

.common-heading,
.home-about h2 {
    font-weight: 800;
    height: 100px;
    color: #213540;
    letter-spacing: 0.25px;
    font-size: 36px;
    margin-bottom: 60px;
    text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 600;
}

.row_map {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

div[class*="col-"] {
    position: static;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
}

.coverage .slide-nav-map {
    margin-bottom: 30px;
}

.slide-nav-map ul {
    margin: 0;
    display: inline-flex;
    padding: 5px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

li {
    list-style: none;
}
.slide-nav-map ul li a.active {
    background: #f1f3f4;
    color: #602d90;
    font-weight: 50;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
.slide-nav-map ul li a {
    color: #3a3a3a;
    background: #fff;
    border-radius: 3px;
    padding: 5px;
    display: flex;
}

.coverage-area ul {
    padding: 0;
    margin: 0 0;
    letter-spacing: 0.35px;
}
.coverage-area ul li {
    display: inline-block;
    width: 30%;
    color: #101210;
    margin: 10px 0;
    font-size: 14px;
}
.coverage-area ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    background: #ff5b5b;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/* .background-video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
} */

/* }
@media (max-width:768px) and (min-width:320px){
  #mainNav{
    position: relative;
    z-index: -1!important ;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background:#f1f3f4 !important;
      border-color: transparent;}
      #mainNav.container > div +div{display:none;}
      .navbar-header {
        position: absolute;
        top:-100%}} */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */

.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(249, 239, 239);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.row_map col-7 {
}

@keyframes scaleAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }


    
}
@keyframes spin-once {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes fade-in-once {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-spin-once {
    animation: spin-once 0.5s linear 1;
  }

  .animate-fade-in-once {
    animation: fade-in-once 3s ease-in-out 1;
  }
